{% extends 'base.html' %}

{% block content %}
    <h2>Succès !</h2>
    <p>Informations enregistrées :</p>
    <p><strong>Nunmero patient:</strong> {{ questionnaire.id }}</p>
    <p><strong>Date:</strong> {{ questionnaire.date }}</p>
    <p><strong>Numero:</strong> {{ questionnaire.numero }}</p>
    <p><strong>Sexe:</strong> {{ questionnaire.get_sexe_display }}</p>
    <p><strong>Age:</strong> {{ questionnaire.get_age_display }}</p>
    <p><strong>Statut matrimonial:</strong> {{ questionnaire.get_statut_matrimonial_display }}</p>
    <p><strong>Niveau d'étude:</strong> {{ questionnaire.get_niveau_etude_display }}</p>
    <p><strong>Activité parallèle:</strong> {{ questionnaire.get_activite_parallele_display }}</p>
    <p><strong>Revenu mensuel:</strong> {{ questionnaire.get_revenu_mensuel_display }}</p>
    <p><strong>Ethnie:</strong> {{ questionnaire.get_ethnie_display }}</p>
    <p><strong>Religion:</strong> {{ questionnaire.get_religion_display }}</p>
    <p><strong>Résidence:</strong> {{ questionnaire.get_residence_display }}</p>
    <p><strong>Mise hors service:</strong> {{ questionnaire.get_mise_hors_service_display }}</p>
    <p><strong>Grade actuel:</strong> {{ questionnaire.get_grade_actuel_display }}</p>
    <p><strong>Années de service:</strong> {{ questionnaire.get_annees_service_display }}</p>
    <p><strong>Corps d'armée:</strong> {{ questionnaire.get_corps_armee_display }}</p>
    <p><strong>Poids:</strong> {{ questionnaire.poids }}</p>
    <p><strong>Taille:</strong> {{ questionnaire.taille }}</p>
    <p><strong>IMC:</strong> {{ questionnaire.get_imc_display }}</p>
    <p><strong>Pression artérielle:</strong> {{ questionnaire.get_pression_arterielle_display }}</p>
    <p><strong>Glycémie:</strong> {{ questionnaire.get_glycemie_display }}</p>
    <p><strong>Test VIH:</strong> {{ questionnaire.get_test_vih_display }}</p>
    
    <a href="{% url 'modifier_questionnaire' questionnaire.id %}">Modifier</a>
    <a href="{% url 'enregistrer_questionnaire' %}">Enregistrer un autre patient</a>
    
{% endblock %}